<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/stylesheets/home.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <title>Motocross app</title>
</head>
<body>
<aside th:fragment="sidenav" class="sidenav">
    <img th:src="@{/images/logo.png}"/>
    <a class="account" th:href="@{/}" th:text="${'Hi, rider ' + rider.getPerson().getFirstName()}"></a>
    <a href="#menu">MENU</a>
    <a href="#motocross">MOTOCROSS</a>
    <a href="#trainings">TRAININGS</a>
    <a th:href="@{/tournaments}" id="tournaments">TOURNAMENTS</a>
</aside>

<header th:fragment="header" class="header">
    <h1>Motocross app</h1>
    <button class="btn btn-primary login-btn">LOG OUT</button>
</header>
<div class="main">
    <h2>No content on the page</h2>
</div>
</body>
</html>