<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tournament details</title>
    <link rel="stylesheet" th:href="@{/stylesheets/style.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="header">
    <a class="account" th:href="@{/}" th:text="${'Hi ' + rider.getPerson().getFirstName() + ', welcome back!'}"></a>

    <div class="inner_header">
        <div class="logo_container">
            <h1><img th:src="@{/images/logo.png}"/></h1>
        </div>
        <ul class="navigation">
            <a href="http://localhost:8081/#index">
                <li><b>MENU</b></li>
            </a>
            <a href="#motocross">
                <li><b>MOTOCROSS</b></li>
            </a>
            <a href="#trainings">
                <li><b>TRAINING</b></li>
            </a>
            <a th:href="@{/tournaments}" id="tournaments" class="active">
                <li><b>TOURNAMENT</b></li>
            </a>
            <a>
                <li>
                    <button class="btn btn-primary login-btn" onclick="location.href='http://localhost:8081/#index'">LOG
                        OUT
                    </button>
                </li>
            </a>
        </ul>
    </div>
</div>
<div class="main">
    <h2 th:text="${'Tournament name: ' + tournament.name}"></h2>
    <a th:text="${'Tournament level: ' + tournament.tournamentType}"></a>

    <a th:if="${msgMotocross=='motorcycle-none'}" class="alert-text">No available motorcycle to join with to
        tournament!</a>
    <a th:if="${msgMotocross=='motorcycle-none'}" th:href="@{/tournaments}" class="btn-link">Go back to tournament
        list</a>
    <br>

    <form th:unless="${msgMotocross=='motorcycle-none'}" th:action="@{'/tournament/'+${tournament.id}}"

          method="post"
          class="join-tournament">
        <label>Choose a motocross in this tournament:</label><br>
        <select th:name="newMotocross" class="mdb-select md-form">

            <option value=0 disabled selected>Motocross</option>
            <option th:each="motocross : ${motorcycle}"
                    th:value="${motocross.id}"
                    th:text="${motocross.brand}">
            </option>
        </select>
        <br>
        <input class="btn btn-primary submit-btn" name="submit" type="submit" value="Submit"/>
    </form>

    <div class="table-responsive">
        <table id="attendancesList" class="table">
            <thead>
            <tr>
                <th>Motocross brand</th>
                <th>Motocross model</th>
                <th>Motocross owner</th>
                <th>Starting league</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="attendance, rowStat: ${attendances}"
                th:style="${rowStat.odd} ? 'color: gray' : 'color: black;'">
                <td th:text="${attendance.motocross.brand}"></td>
                <td th:text="${attendance.motocross.model}"></td>
                <td th:text="${attendance.motocross.owner.person.getPersonData()}"></td>
                <td th:text="${attendance.rider.startingLeague}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div th:if="${msg}" th:class="${'alert-'+alertClass}">
    <a th:if="${msg=='failed'}">Alert error. Rider can't join to this tournament!</a>
    <a th:if="${msg=='failed'}" class="closebtn" th:href="@{/tournaments}"
       onclick="this.parentElement.style.display='none';">
        &times;
    </a>

    <a th:if="${msg=='success'}">Alert success. Rider with motocross has been join to tournament!</a>
    <a th:if="${msg=='success'}" class="closebtn" onclick="this.parentElement.style.display='none';">
        &times;
    </a>
</div>
</body>
</html>